{% extends 'MundoKid/base.html' %}

{% block content %}
	        <div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="{% url 'home' %}">Home</a></li>
						<li class="active">{{titulo}}</li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title"><span>{{titulo}}</span></h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<p class="lead">Nuestra propuesta de {{titulo}}</p>

							<!-- isotope filters start -->
							<div class="filters">
								<ul class="nav nav-pills">
								 
									<li class="active"><a href="#" data-filter="*">Todos</a></li>
									 {% for subcategoria in subcategorias %}
									<li><a href="#" data-filter='.{{subcategoria.id_subcategoria}}'>{{subcategoria.desc_subcategoria}}</a></li>
									 {% endfor %}
					
                                </ul>
							</div>
							<!-- isotope filters end -->

							<div class="isotope-container row grid-space-10">
                                 {% for articulo in articulos %}
								<div class="col-md-4 col-sm-6 isotope-item {{articulo.subcategoria}}">
									<div class="image-box txt-box bordered text-center mb-20">
										<div class="overlay-container">
											<img src="{{articulo.imagen_url.url}}" alt="{{titulo}}">
											<div class="text">
												<h3>{{articulo.nombre}}</h3>
												<h3>{{articulo.precio}}</h3>
											</div>
										</div>
									</div>
								</div>
                                 {% endfor %}
                            </div>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->

{% endblock %}